#category--main{
    height: 90vh;
    width: 100%;
}
#category-grid{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 65vh;
    margin: 40px 20px;
}
.cat-grid-item{
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
    background: black;
}
.cat-img {
    width: 100%;
    object-fit: cover;
}
.cat-link{
    border: 0px;
}
#cat--heading{
    font-size: 1.8em;
}