section{
    height: 90vh;
}
#category-grid{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 65vh;
    margin: 40px 20px;
}
.cat-grid-item{
    background: linear-gradient(70deg, rgba(0, 0, 0, 0), rgb(247, 246, 246), rgba(0, 0, 0, 0), rgb(247, 247, 247));
    background-size: 300% 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    border-radius: 10px;
    animation: slide 0.8s infinite;
    border: 1px solid rgb(231, 231, 231);
    overflow: hidden;
}
.cat-img {
    width: 100%;
    object-fit: cover;
}
.cat-link{
    border: 0px;
}
@keyframes slide {
    to {
        background-position: 0%;
      }
}