#category--main{
    min-height: 90vh;
    width: 100%;
    padding: 0px;
}
#category-grid{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 200px);
    min-height: 65vh;
    max-width: 900px;
    margin:20px auto;
    place-content: center;
    padding-inline: 10px;
}
.cat-grid-item{
    border-radius: 12px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.589);
    overflow: hidden;
}
.cat-text:hover{
    backdrop-filter: blur(3px);
    font-size: 1.5em;
}
.cat-text{
    padding: 50%;
    transition: 0.3s;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    margin: 0px;
}
#cat--heading{
    font-size: 1.8em;
    margin: 10px 0 0 20px;
}