#contributors-header{
    font-size: 1.8em;
    text-align: center;
}
#cont-grid{
    margin: 30px 0px;
}
#flex-first-row, #flex-second-row{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
#flex-second-row{
    margin-top: 25px;
}
.cont-grid-item{
    border-radius: 15px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.308);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
    height: 240px;
}
.cont-grid-item:hover{
    scale: 1.01;
}
.profile-img{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    box-shadow: 0 0 1px 3px rgb(224, 224, 224);
    border-radius: 100%;
    
}
.profile-img > img{
    height:100%;
    border-radius: 50%;
}
.cont-grid-item > h3{
    font-weight: 500;
    color: rgb(39, 39, 39);
    text-align: center;
    padding-inline:10px;
    height: 50px;
    line-height: 1.4em;
    margin-block: 10px;
}

.cont-grid-item > div > a > img{
    height: 35px;
    margin-inline: 5px;
    margin-bottom:15px ;
}
.cont-grid-item > div > a {
    color: transparent;
    
}
#contributors-main{
    min-height: 100vh;
}