/*This sheet contains general styles used throughout the website*/
:root {
    --text-color: rgb(22, 22, 22);
    --heading-color: rgb(68, 68, 68);
    --body-color: #ffffff;
    --accent-color: black;
    --secondary-color: rgb(238, 237, 237);
    --active-link-bgcolor: rgb(0, 0, 0);
    --active-link-color: rgb(255, 255, 255);
    --primary-font: 'Jost', sans-serif;
}

body {
    margin: 0px;
    background-color: var(--body-color);
    font: 500 1.1em var(--primary-font);
}

#main-navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    /* position: fixed; */
    top: 0;
    transition: top 0.3s;
}

#logo {
    height: 40px;
}

nav>ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 20px;
    padding: 8px;
}

nav>ul>li {
    transition: 0.2s;
}

nav>ul>li:hover {
    transform: scale(1.1);
}

.nav-link[aria-current= "page"] {
    background-color: var(--active-link-bgcolor);
    color: var(--active-link-color);
}

.github-logo {
    height: 35px;
}

hr {
    margin: 10px auto;
    width: 70%;
}

section{
    padding-inline: 10px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1em;
}

h2{
    color: var(--heading-color);
    font-size: 2em;
    font-weight: 500;
}

#footer {
    padding: 5% 15% 0px 15%;
    background: var(--accent-color);
    height: 30vh;
    color: var(--body-color);
    font-size: 0.85em;
}

#footer-nav > ul {
    padding: 0;
    margin-block: 20px;
}
#footer-nav {
    font-size: 1rem;
    width: 70%;
    max-width: 400px;
}
#footer > hr{
    width: auto;
    margin-block: 30px;
}
::-webkit-scrollbar{
    width: 0.5em;
    height: 0em;
}
::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0)
}
::-webkit-scrollbar-thumb{
    background: rgb(145, 142, 142);
    border-radius: 10vw;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(82, 82, 85);
}
