/*This sheet contains general styles used throughout the website*/
:root{
    --text-color: rgb(22, 22, 22);
    --heading-color: rgb(68, 68, 68);
    --body-color: #ffffff;
    --accent-color: black;
    --secondary-color: rgb(238, 237, 237);
    --active-link-bgcolor: rgb(0, 0, 0);
    --active-link-color: rgb(255, 255, 255);
    --primary-font: 'Jost', sans-serif;
}
body{
    margin: 0px;
    background-color: var(--body-color);
    font: 500 1.1em var(--primary-font);
}
#main-navbar{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
#logo{
    height: 40px;
}
nav > ul{
    list-style-type: none;
    display: flex;
    gap: 18px;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 20px;
    padding: 8px;
}
nav>ul>li{
    transition: 0.2s;
}
nav>ul>li:hover{
    transform: scale(1.1);
    }
.nav-link[aria-current ="page"]{
    background-color: var(--active-link-bgcolor);
    color: var(--active-link-color);
}

.github-logo{
    height: 35px;
}
hr{
    margin-top: 10px;
    width: 70%;
    background-color: rgb(145, 142, 142);
}
