/*This sheet contains general styles used throughout the website*/
:root {
    --text-color: rgb(22, 22, 22);
    --heading-color: rgb(68, 68, 68);
    --body-color: #ffffff;
    --accent-color: black;
    --secondary-color: rgb(221, 220, 220);
    --active-link-bgcolor: rgb(0, 0, 0);
    --active-link-color: rgb(255, 255, 255);
    --primary-font: 'Jost', 'Trebuchet MS', sans-serif;
}

body {
    margin: 0px;
    background-color: var(--body-color);
    font: 500 1.1em var(--primary-font);
    display: flex;
    flex-direction: column;
}

#main-navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    top: 0;
    transition: top 0.3s;
}

#logo {
    height: 40px;
}

nav>ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 20px;
    padding: 8px;
    font-size: 0.8em;
}

nav>ul>li {
    transition: 0.2s;
}

nav>ul>li:hover {
    transform: scale(1.1);
}

.nav-link[aria-current="page"] {
    background-color: var(--active-link-bgcolor);
    color: var(--active-link-color);
}

.github-logo {
    height: 35px;
}

section{
    padding-inline: 20px;
    max-width: 1100px;
    margin: 0 auto;
    font-size: 1em;
}

h2{
    color: var(--heading-color);
    font-size: 2em;
    font-weight: 500;
    margin: 20px 0;
}

hr {
    margin-top: 10px;
    width: 70%;
}

#footer {
    background: var(--accent-color); 
    color: var(--body-color);
    max-width: none;
    font-size: 0.92em;
    margin-top: 25px;
}
#footer>p {
    max-width: 70%;
    margin: 30px auto;
}
#footer-nav {
    width: 70%;
    max-width: 400px;
    margin-left: 15%;
    font-size: 1.2em;
}
#footer-nav > ul {
    padding: 0;
    margin-block: 16px;
}
#footer-nav > ul > li > a{
    filter: invert(90%);
}
#footer-nav > ul > li > a > img{
    margin-top:8px ;
}
#footer > hr{
    margin: 20px auto 30px auto;
}
::-webkit-scrollbar{
    width: 0.3em;
    height: 0em;
}
::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0)
}
::-webkit-scrollbar-thumb{
    background: rgb(145, 142, 142);
    border-radius: 10vw;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(82, 82, 85);
}

